/* ---------- 구글 폰트 ---------- */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Pretendard;
}
:root {
     /* ---------- 색상 미리 설정 ---------- */
     /* 색상 추가하고 싶으면 여기에 추가하고 쓰자 */
    --blue-color: #0E4BF1;
    --white-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --grey-color : #dfdfdf;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --title-icon-color: #fff;
    --community-text-color: #030303;
    
    /* ---------- 트랜지션 ---------- */
    --tran-07: all 0.7s ease;
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;
}
body {
    min-height: 100vh;
    background-color: #f3f6fd;
}
ul {
    list-style:none;
    padding-left:0px;
}
a {
    text-decoration: none;
}
   
/* ---------- 왼쪽 사이드 바 ---------- */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--white-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
    margin-left: 10%;
}

/* 자바스크립트에서 close 클래스 추가해 주므로 close 추가적용했을 때 CSS 꾸미기 */
nav.close {
    width: 73px;
}
nav .logo-name {
    margin-top: 5px;
    display: flex;
    align-items: center;
}
nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logo-image img {
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
nav .logo-name .logo_name {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}
nav .menu-items {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li {
    list-style: none;
}
.menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.menu-items li a i {
	padding-bottom: 4px;
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name {
    font-size: 15px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}
.menu-items li img {
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.loginProfile {
	margin-top:350px;
}
.menu-items li a .login-profile {
    position: fixed;
    margin-left: 57px;
    font-size: 16px;
    font-weight: 400;
    color: var(--community-text-color);    
    transition: var(--tran-05);
}

/* ---------- 왼쪽 사이드 바 아이콘 HOVER ---------- */
.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: var(--blue-color);
}
.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

/* ---------- 메인 컨텐츠 ---------- */
.main-content {
    margin: 0 10%;
    position: relative;
    left: 250px;
    background-color: var(--white-color);
    min-height: 100vh;
    padding: 10px 10px 0 14px;
    width: 55%;
    transition: var(--tran-05);
}
nav.close ~ .main-content {
    left: 73px;
    width: 70%;
}

/* ---------- 상단 바 ---------- */
.main-content .top {
    margin-left: 11%;
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: 42%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--white-color);
    transition: var(--tran-05);
    z-index: 10;
}
nav.close ~ .main-content .top {
    left: 73px;
    width: 53%;
    margin-right: 0;
}
.main-content .top .sidebar-toggle {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.top .user-icon {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.main-content .top .search-box {
    position: relative;
    height: 45px;
    max-width: 800px;
    width: 100%;
    margin: 0 30px;
}
.top .search-box input {
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i {
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-55%);
    color: var(--black-light-color);
}
.top img {
    width: 40px;
}

/* ---------- 메인 피드 ---------- */
.main-content .main-feed {
    /* margin: 50px 5% 0 8%; */
    margin-top: 50px;
    position: relative;
    /* min-height: 100vh; */
    width: 65%;
    padding-top: 30px;
    transition: var(--tran-05);
    z-index: 5;
}
nav.close ~ .main-content .main-feed {
    width: 70%;
    margin-left: 5%;
}

/* ---------- 오른쪽 사이드 바 ---------- */
.right-sidebar {
    position: fixed;
    top: 0;
    right : 0;
    width: 400px;
    padding: 10px 14px;
    background-color: var(--white-color);
    transition: var(--tran-05);
    margin-right: 10%;
}
.right-top {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    margin: 0 20%;
}
.right-sidebar .right-top i {
    font-size: 30px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.profile {
    position: relative;
    cursor: pointer;
}
.profile .profile-link {
    position: absolute;
    right: 0;
    background-color: var(--white-color);
    padding: 10px 0;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
    border-radius: 10px;
    width: 160px;
    opacity: 0;
    pointer-events: none;
}
.profile .profile-link.show {
    opacity: 1;
    pointer-events: visible;
    top: 100%;
    transition: var( --tran-03);
}
.profile .profile-link li {
    font-style:normal;
}
.profile .profile-link a {
    padding: 10px 16px;
    display: flex;
    grid-gap: 10px;
    font-size: 14px;
    color: var(--text-color);
    align-items: center;
    transition: var( --tran-03);
}
.profile .profile-link a:hover {
    background-color: var(--grey-color);
}

/* ---------- 다크 모드 ---------- */
.mode-toggle {
    height: 50px;
    min-width: 45px;
    position :absolute;
    right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    background-color: var(--toggle-color);
    border-radius: 25px ;
}
.switch::before {
    content:"";
    position: absolute;
    left: 5px;
    transform: translateY(-50%);
    top: 50%;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark {
    --blue-color: #3a3b3c;
    --white-color:#202b38;
}
body.dark .switch::before {
    left : 20px;
}
body.dark .logo-name .logo_name {
	color: white;
}
body.dark .top .sidebar-toggle {
	color : white;
}
body.dark .right-top {
    color : white;
}
body.dark .top .search-box input {
     color : white;
}
body.dark
.nav-links li a:hover i,
body.dark
.nav-links li a:hover .link-name{
    color: white;
}
body.dark .profile .profile-link.show {
	background : white;
}
body.dark .close {
	opacity : 1;
}

/* ---------- 미디어 쿼리 ---------- */
@media only screen and (max-width: 600px) {
    nav {
        margin: 0;
        width: 100%;
       
    }
    nav.close {
        width: 100%;
        z-index: 10;
    }
    nav.close li a .link-name {
        opacity: 1;
        pointer-events: none;
    }
    .main-content {
       left: 0;
       margin: 0;
       padding: 0;
       width: 100%;
    }
    nav.close ~ .main-content .top {
        
        position: fixed;
        left: 73px;
        width: 88%;
        margin-right: 0;
    }
    nav.close ~ .main-content {
        left: 73px;
        width: 88%;
    }
    .main-content .top {
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        position: fixed;
     }
     .main-content .main-feed {
        margin: 0px;
        position: relative;
        min-height: 100vh;
        width: 100%;
        padding-top: 70px;
        transition: var(--tran-05);
        z-index: 5;
    }
    nav.close~ .main-content .top .search-box {
        position: relative;
        height: 45px;
        max-width: 800px;
        width: 100%;
        margin: 0 30px;
        display: none;
    }
    nav.close ~ .main-content .main-feed {
        width: 95%;
        margin-left: 0%;
        display: none;
    }
    .right-sidebar {
        display: none;
    }
}

@media only screen and (max-width: 964px) {
    .right-sidebar {
        display: none;
    }    
}

/* ---------- 채팅 영역 ---------- */
.chat-wrap {
    height: calc(100vh - 100px);
    min-height: 400px;
    width: 1200px;
    min-width: 740px;
    display: flex;
}

/* ---------- 채팅 영역 ---------- */
.chat-content {
    width: 70%;
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

/* ---------- 채팅방 유저 목록 영역 ---------- */
.chat-user-list-accordion {
    height: 40px;
    border-bottom: 1px solid var(--border-color);
    display: none;
}
/* 채팅방 유저 목록 ON / OFF 스위치 */
.accordion-switch {
    width: 44px;
    height: 100%;
    display: block;
    padding-left: 10px;
    border-bottom: 0;
}
.accordion-switch > i {
    font-size: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* 채팅방 유저 목록 */
.chat-user-list {
    max-height: 0;
    overflow: hidden;
    background-color: white;
    z-index: 100;
    position: relative;
    border-bottom: 1px solid var(--border-color);
}
.chat-user {
    width: 100%;
    height: 50px;
    display: flex;
}
.chat-user:hover {
    background-color: rgb(255, 248, 248);
}
.chat-user-picture {
    width: 10%;
    height: 100%;
    display: flex;
}
.chat-user-picture > div {
    margin: auto;
    display: flex;
}
.chat-user-picture > div > img {
    width: 40px;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 30px;
    margin: auto;
}
.chat-user-nickname {
    width: 90%;
    height: 100%;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ---------- 채팅방 메시지 표시 영역 ---------- */
.chat-view {
    height: calc(100% - 100px);
    overflow-y: scroll;
}
.chat-view::-webkit-scrollbar {
    display: none;
}
.chat-empty {
    width: 100%;
    height: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-empty div {
    text-align: center;
}
.chat-empty img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
/* 채팅방 날짜 표시 */
.chat-date-wrap {
    display: flex;
    padding: 10px 10px;
}
.chat-date {
    text-align: center;
    margin: auto;
    padding: 2px 20px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
    color: rgb(131, 131, 131);
    background-color: rgb(230, 230, 230);
}
/* 채팅방 상대방 메시지 */
.another-user-chat-wrap {
    width: 55%;
    display: flex;
    padding: 10px;
}
.another-user-picture {
    width: 42px;
    height: 100%;
    display: flex;
}
.another-user-picture > div {
    margin: auto;
    display: flex;
}
.another-user-picture > div > img {
    width: 40px;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 30px;
    margin: auto;
}
.another-user-message-wrap-1 {
    width: calc(100% - 42px);
    margin-left: 10px;
}
.another-user-nickname {
    font-size: 14px;
    font-weight: bold;
}
.another-user-message-wrap-2 {
    display: flex;
    margin-top: 5px;
}
.another-user-chat-message {
    max-width: 80%;
    font-size: 14px;
    word-break: break-all;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid var(--border-color);
}
.another-user-chat-message-time {
    width: 20%;
    min-width: 55.91px;
    font-size: 10px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
/* 채팅방 내 메시지 */
.my-chat-wrap {
    width: 45%;
    display: flex;
    padding: 10px;
    margin-left: 55%;
    justify-content: right;
}
.my-chat-message-time {
    width: 20%;
    min-width: 55.91px;
    font-size: 10px;
    display: flex;
    align-items: flex-end;
}
.my-chat-message {
    max-width: 80%;
    font-size: 14px;
    word-break: break-all;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(224, 224, 224);
    border: 1px solid var(--border-color);
}

/* ---------- 채팅방 메시지 입력 영역 ---------- */
.chat-input-wrap {
    height: 60px;
    display: flex;
}
/* 채팅 입력 */
.chat-input {
    height: 30px;
    display: flex;
    margin: auto;
}
.chat-input > input {
    width: 400px;
    font-size: 14px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    outline: 1px solid var(--border-color);
}
.chat-input > input:focus {
    outline: 1px solid rgb(255, 146, 139);
}
/* 전송 버튼 */
.chat-input > button {
    width: 40px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 146, 139);
    margin-left: 10px;
}

/* ---------- 채팅방 목록 영역 ---------- */
/* 참여한 채팅방이 없을 때 */
.chat-list-empty {
    width: 30%;
    border-top: 1px solid var(--border-color);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 참여한 채팅방이 있을 때 */
.chat-list {
    width: 30%;
    overflow-y: scroll;
    border-top: 1px solid var(--border-color);
}
.chat-list::-webkit-scrollbar {
    display: none;
}

/* ---------- 채팅방 목록 ---------- */
.chat-room {
    width: 100%;
    height: 65px;
    display: flex;
    background-color: white;
    cursor: pointer;
}
.chat-room:hover {
    background-color: rgb(255, 248, 248);
}
input[name="chat-room-flag"] {
    display: none;
}
/* 채팅방 대표 사진 */
.chat-room-picture-wrap {
    min-width: 62px;
    display: flex;
    position: relative;
}
.chat-room-badge {
    position: absolute;
    min-width: 20px;
    height: 20px;
    text-align: center;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 146, 139);
    border-radius: 20px;
    top: 4px;
    left: 36px;
}
.chat-room-picture {
    margin: auto;
    display: flex;
}
.chat-room-picture > img {
    width: 50px;
    height: 50px;
    border: 1px solid var(--border-color);
    border-radius: 30px;
    margin: auto;
}
/* 채팅방 이름, 마지막 메시지 / 시간 */
.chat-room-content {
    width: 80%;
}
.chat-room-title {
    height: 50%;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 14px;
    padding-left: 5px;
    padding-right: 4px;
}
.chat-room-last-message-wrap {
    height: 50%;
    display: flex;
    padding-right: 4px;
}
.chat-room-last-message{
    width: 75%;
    height: 100%;
    font-size: 14px;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
}
.chat-room-last-message-time {
    width: 25%;
    min-width: 57.19px;
    height: 100%;
    font-size: 1px;
    text-align: right;
    margin: auto;
    padding-right: 5px;
}

/* ---------- 채팅방 페이지 Contextmenu ---------- */
.contextmenu-wrap {
    position: absolute;
    width: 200px;
    display: none;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 4px 0 grey;
    z-index: 101;
    border: 1px solid var(--border-color);
}
.contextmenu {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}
.contextmenu:hover {
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

/* ---------- 채팅방 페이지 Modal ---------- */
.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 102;
}
.modal-wrap {
    width: 330px;
    height: 170px;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 4px 0 grey;
    border: 1px solid var(--border-color);
}
.modal-message {
    height: 60%;
    padding-top: 34px;
    font-size: 14px;
}
.modal-messageAndInput {
    height: 60%;
    padding-top: 11px;
    font-size: 14px;
}
.modal-messageAndInput > input {
    margin-top: 15px;
    width: 72%;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    outline: 1px solid var(--border-color);
}
.modal-messageAndInput > input:focus {
    outline: 1px solid rgb(255, 146, 139);
}
.modal-button {
    height: 40%;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}
.modal-button > div {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: auto;
    padding-top: 2px;
    cursor: pointer;
}
.modal-button-cancel {
    background-color: rgb(158, 158, 158);
}
.modal-button-confirm {
    background-color: rgb(250, 188, 186);
}

.test {
    max-height: 800px;
    padding-bottom: 20px;
    transition: all 1s ease-in;
}

/* ---------- 웹소켓 테스트 ---------- */
.web-socket-wrap {
    border: 1px solid black;
}
.web-socket-wrap * {
    font-size: 14px;
}
fieldset {
    width: 100%;
    padding: 10px;
}
.tableWrap {
    border: 1px solid black;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}
.tableWrap * {
    text-align: center;
    padding: 4px;
}
