/* ======================= 메인컨텐프 오른쪽 CSS =================== */

.main-right {
    width: 25%;
    height: 100%;
    background-color: #ffffff;
    margin-top: 40px;
}



.banner {
  position: fixed;
  right: 140px;  
  width: 18%;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  background: var(--white-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  min-height: auto!important;
}
  
.banner .tit {
  height: 34px;
  padding-left: 14px;
  padding-right: 14px;
  line-height: 35px;
  font-size: 13px;
  font-weight: 600;
  color: #333;
  border-bottom: 1px solid var(--grey-color) ;
}

.banner .eventtit {
	
  height: 34px;
  padding-right: 14px;
  line-height: 35px;
  font-size: 13px;
  font-weight: 600;
  color: #333;
  border-bottom: 1px solid var(--grey-color) ;
	
}



.member-profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.member-detail{
  margin-left: 10px;
}


.banner .memberWrap {
  position: absolute;
  top: 18px;
  right: 14px;
  font-size: 12px;
}
.banner .memberWrap a{
  color: rgb(245, 145, 161);
}


.member-list{
  margin: 10px 0;
}

.member-profile li a{
  display: flex;
  align-items: center;
}

.text{
    font-size: 14px;
    display: block;
}

.member-grade {
  font-size: 12px;
}

.schedule-body ul{
	padding : 14px 14px 14px 0;
}

.schedule-body a {
	display : flex;
}

.eventCont {
	position: relative;
    display: block;
    min-width: 18px;
    padding-top: 20px;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    color: #333;
	
}

.eventCont span{
	position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    display: block;
    font-size: 15px;
    font-weight: 400;
    color: #fc6342!important;
}


.cont {
    padding : 3px 0 0 20px;
    display: block;
}

.cont strong{
	margin-bottom: 2px;
    font-size: 13px;
    font-weight: 600;
    color: #333;
    display: block;
    overflow: hidden;
    max-width: 100%;
}

.eventSchedule i {
	margin-right : 10px;
}