body{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-section{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin: 0 10%;
}


.main-middle{
  width: 50%;

}

/* ====================== 글쓰기 Modal =================== */

.main-middle .popup-outer{
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.3);
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transform: scale(1.2);
  transition: opacity 0.2s 0s ease-in-out,  
              transform 0.2s 0s ease-in-out;
}

#writePopup {
  opacity: 0;
}
#writePopup.active{
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.main-middle.active .popup-outer{
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.main-middle .popup-box{
  position: relative;
  background: var(--white-color);
  border-radius: 12px;
  width: 35%;
  height: 67%;
}
.popup-box .close{
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  color: #b4b4b4;
  transition: all 0.2s ease;
  cursor: pointer;
}
.popup-box .close:hover{
  color: #333;
}

#editor {
  padding: 16px 24px;
  min-height: 350px;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
}


.write-form-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 59px;
}

.write-form-header .write-form-title {
  font-size: 16px;
  font-weight: 600;
  color: #222;
}

.popup-box .textarea{
  padding: 10px;
}

.popup-box textarea{
  min-height: 140px;
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  padding: 10px 10px 10px 14px;
  font-weight: 400;
  background: var(--white-color);
}


.toolbarList input {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    cursor: pointer;
    opacity: 0!important;
}

.editor-placeholder {
  font-size: 13px;
  color: var(--black-light-color);
}

.toolbarList {
  display: flex;
}


.toolbarList li {
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
}

.popup-box .button{
  display: flex;
  justify-content: flex-end;
}
.popup-box .button button{
  margin-top: 20px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 400;
  min-width: 90px;
  height: 34px;
  margin-left: 2px;
  border-radius: 6px;
  line-height: 34px;
  background: #474e60;
  color: #DDD;
  margin-right: 10px;
  margin-bottom: 10px;
}

#img-selector {
  display: none;
}

#editor img {
  width: 100%;
  height: 400px;
}

/* ======================= 메인컨텐츠 중앙 CSS =================== */

.main-middle{
  height: 100%;
  background: var(--white-color);
  padding: 20px;
}

.main-middle .write-form {
  width: 100%;
  background: var(--white-color);
  border-radius: 6px;
  padding: 20px;
  columns:#626262;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, .1);
}

/* ================ 관리가 첫 방 만들 때 CSS ================= */

.empty-content{
  width: 101%;
  height: 100%;
  background: var(--white-color);
}


.group-board{
  display: block;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #f5f5f5;
  margin-top: 20px;
}

.group-board i {
position : absolute;
font-size: 40px;
left: 10px;
top: 3px;
}

.board-text {
  margin-top: 30px;
  text-align: center;
}
.board-text h3 {
  margin-bottom: 5px;
}

/* ================== 게시글 CSS ================= */

.feed-profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.feed-profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.feed-profile .form-icon {
position: absolute;
right: 30%;
}

.postCount {
overflow: hidden;
padding: 15px 0 10px;
margin-top: 17px;
display: flex;
justify-content: space-between;
}

.likeCountBtn img{
width: 15px;
height: 15px;
}

.likeCountBtn {
margin-right: 10px;
}

.commentCountBtn, .likeCountBtn {
font-size: 14px;
}


.postCountRight {
font-size: 20px;
margin-right: 10px;
}


.feed-profile .form-icon i {
position: relative;
font-size: 22px;
cursor: pointer;
}




.commentBox .commnetWrap {
position: relative;
min-height: 67px;
padding: 14px 40px 14px 44px;
border-top: 1px solid #f0f0f0;
}

.commnetWrap .writeInfo {
display: flex;
text-align: left;
overflow: hidden;
max-height: 18.59px;
font-size: 13px;
white-space: normal;
max-width: 90%;
padding-right: 3px;
font-weight: 600;
color: #333;
}



.commnetWrap  .writeInfo>.upProfile {
position: absolute;
left: 22px;
top: 15px;
}

.upProfile {
margin-left: -20px;
}

.upProfile .upProfileImg img{
width: 30px;
height: 30px;
border-radius: 50%;
}


.commentBox .text {
font-size: 13px;
line-height: 1.4;
cursor: pointer;
}

.commentBox .twiceComment {
display: flex;
position: relative;
vertical-align: top;
margin-top: 5px;
}

.reply-replyBtn {
margin-left: 10px;
}




/* ================= 피드 DropDown ================ */

.feed {
position: relative;
cursor: pointer;
}

.feed .feed-link{
position: absolute;
right: 0;
background-color: var(--white-color);
padding: 10px 0;
box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
border-radius: 10px;
width: 130px;
opacity: 0;
pointer-events: none;
}

.feed .feed-link.show{
opacity: 1;
pointer-events: visible;
top: 100%;
transition: var( --tran-03);
}

.feed .feed-link li{
font-style:normal;
}

.feed .feed-link a{
padding: 10px 16px;
display: flex;
grid-gap: 10px;
font-size: 14px;
color: var(--text-color);
align-items: center;
transition: var( --tran-03);
}

.feed .feed-link a:hover{
background-color: var(--grey-color);
}


/* =================== 그룹 셋팅 CSS  ================= */

.setting {
  background: var(--white-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Android Emoji";
}
.setting-title {
    position: relative;
    display: flex;
    height: 61px;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    border-bottom: 1px solid #f0f2f4;
}

.setting-title .setting-container {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 55px;
  padding: 10px 0;
  border-top: 1px solid #f0f2f4;
  text-align: left;
  align-items: center;
  justify-content: space-around;
  
}


.setting-container .setting-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.setting-container .itemContent .label {
  font-size: 14px;
  font-weight: 400;
  display: block;
}

.setting-container .itemContent .label-data {
  font-size: 11px;
}

.itemSide {
  position: relative;
  min-width: 92px;
  text-align: center;
  font-size: 13px;
}

.itemSide a {
  border: solid 1px #e2e2e2;
  background: #fafafa;
  padding: 5px;
}

.delete a{
  color: red;
}
