<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="groupMapper">
  <resultMap id="groupResultSet" type="groupRoom">
		<result column="GROUP_NO" property="groupNo"/>
		<result column="REGION_NO" property="regionNo"/>
		<result column="REGION_NAME" property="regionName"/>
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="CATEGORY_NAME" property="categoryName"/>
		<result column="GROUP_NAME" property="groupName"/>
		<result column="GROUP_IMG" property="groupImg"/>
		<result column="GROUP_DETAIL" property="groupDetail"/>
		<result column="APPLY_QUESTION" property="applyQuestion"/>
		<result column="GROUP_TYPE" property="groupType"/>
		<result column="GROUP_TYPE_STR" property="groupTypeStr"/>
		<result column="GROUP_DATE" property="groupDate"/>
		<result column="MEMBER_COUNT" property="memberCount"/>
		<result column="MY_GROUP" property="myGroup"/>
		<result column="APPLYING" property="applying" />
		<result column="USER_RANK" property="userRank"/>
		<result column="INVITE_CODE" property="inviteCode"/>
	</resultMap>
	
	<resultMap id="groupJoinApplyResultSet" type="groupJoinApply">
		<result column="GROUP_NO" property="groupNo"/>
	</resultMap>
	
	<resultMap id="groupBoardResultSet" type="groupBoard">
		<result column="BOARD_NO" property="boardNo"/>
		<result column="GROUP_NO" property="groupNo"/>
		<result column="BOARD_WRITER" property="boardWriter"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="COUNT" property="count"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<result column="PROFILE_IMG" property="profileImg" />
		<result column="STATUS" property="status"/>
		<result column="COUNT_REPLY" property="countReply"/>
		<result column="COUNT_LIKE" property="countLike"/>
		<result column="LIKE_CHECK" property="likeCheck"/>
	</resultMap>
	
	<resultMap id="memberResultSet" type="groupMember">
		<result column="GROUP_NO" property="groupNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_RANK" property="userRank"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="PROFILE_IMG" property="profileImg"/> 
	</resultMap>
	
	<resultMap id="groupCategoryResultSet" type="groupCategory">
		<result column="CATEGORY_NO" property="categoryNo" />
		<result column="CATEGORY_NAME" property="categoryName" />
	</resultMap>
	
	<resultMap id="regionCategoryResultSet" type="regionCategory">
		<result column="REGION_NO" property="regionNo" />
		<result column="REGION_NAME" property="regionName" />
	</resultMap>
	
	<resultMap id="attachmentResultSet" type="attachment">
		<result column="FILE_NO" property="fileNo" />
		<result column="BOARD_NO" property="boardNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
	</resultMap>
	
	<resultMap id="applicationListSet" type="groupJoinApply">
		<result column="APPLY_NO" property="applyNo" />
		<result column="GROUP_NO" property="groupNo" />
		<result column="USER_ID" property="userId" />
		<result column="GREETING" property="greeting" />
		<result column="APPLY_DATE" property="applyDate"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	<resultMap id="groupCalendarResultSet" type="GroupCalendar">
		<result column="CALENDAR_NO" property="calendarNo" />
		<result column="GROUP_NO" property="groupNo" />
	</resultMap>
	
	<resultMap id="groupCalendarEventResultSet" type="CalendarPlan">
		<result column="PLAN_NO" property="planNo" />
		<result column="CALENDAR_NO" property="calendarNo" />
		<result column="USERID" property="userId" />
		<result column="TITLE" property="title" />
		<result column="MEMO" property="memo" />
		<result column="START_DATE" property="startDate" />
		<result column="START_TIME" property="startTime" />
		<result column="END_DATE" property="endDate" />
		<result column="END_TIME" property="endTime" />
		<result column="COLOR" property="color" />
		<result column="TEXT_COLOR" property="textColor" />
		<result column="ALLDAY" property="allDay" />
	</resultMap>
	
	<resultMap id="replyResultSet" type="reply">
		<result column="REPLY_NO" property="replyNo" />
		<result column="REPLY_WRITER" property="replyWriter" />
		<result column="REPLY_CONTENT" property="replyContent" />
		<result column="RGROUP" property="rgroup" />
		<result column="RDEPTH" property="rdepth" />
		<result column="REPLY_DATE" property="replyDate" />
		<result column="NICKNAME" property="nickname" />
		<result column="PROFILE_IMG" property="profileImg" />
		<result column="IS_LAST_RGROUP_REPLY" property="isLastRgroupReply" />
	</resultMap>
	
	<resultMap type="member" id="searchMemberResultSet">
		<result column="USER_ID" property="userId"/>
		<result column="EMAIL" property="email"/>
		<result column="PROFILE_IMG" property="profileImg"/>
	</resultMap>
	
	<select id="selectGroupListCount" resultType="_int" parameterType="hashmap">
		SELECT 
		       COUNT(*) 
		  FROM 
		       GROUP_ROOM
		<choose>
			<when test="categoryNo == 0">
		 WHERE
		       GROUP_TYPE IN('A', 'B')
			</when>
			<when test="categoryNo != 0 and categoryNo != 100">
		 WHERE
		       CATEGORY_NO = #{categoryNo}
		   AND
		   	   GROUP_TYPE IN('A', 'B')
			</when>
			<when test="categoryNo == 100">
		  JOIN
		       GROUP_MEMBER USING(GROUP_NO)
		 WHERE
		       GROUP_TYPE = 'C'
		   AND
		       USER_ID = #{userId}
			</when>
		</choose>       
	</select>
	
	<select id="selectRegionCategoryList" resultMap="regionCategoryResultSet">
		SELECT 
			   REGION_NO,
			   REGION_NAME
		  FROM 
		       REGION_CATEGORY
	</select>
	
	
	<select id="selectGroupCategoryList" resultMap="groupCategoryResultSet">
		SELECT 
			   CATEGORY_NO,
			   CATEGORY_NAME
		  FROM 
		       GROUP_CATEGORY
	</select>
	
	<select id="selectGroupList" resultMap="groupResultSet" parameterType="hashmap">
		SELECT
       		   GROUP_NO,
       		   GROUP_NAME,
       		   REGION_NAME,
       		   CATEGORY_NO,
       		   CATEGORY_NAME,
       		   GROUP_IMG,
       		   GROUP_NAME,
       		   GROUP_DETAIL,
       		   APPLY_QUESTION,
       		   GROUP_TYPE,
       		   DECODE(GROUP_TYPE, 'A', '공개', 'B', '그룹명 공개', 'C', '비공개') AS GROUP_TYPE_STR,
       		   GROUP_DATE,
       		   MY_GROUP,
       		   APPLYING,
       		   MEMBER_COUNT
  		  FROM
       		   GROUP_ROOM R
  		  JOIN
       		   REGION_CATEGORY USING(REGION_NO)
  		  JOIN
       		   GROUP_CATEGORY USING(CATEGORY_NO)
  		  LEFT
  		  JOIN
       		   (SELECT 
       		           GROUP_NO, 
       		           'Y' AS MY_GROUP
          		  FROM 
          		       GROUP_MEMBER
         		 WHERE 
         		       USER_ID = #{userId}) USING(GROUP_NO)
          LEFT
          JOIN
               (SELECT 
                       GROUP_NO,
                       'A' AS APPLYING
                  FROM
                       GROUP_JOIN_APPLY
                 WHERE
                       USER_ID = #{userId}) USING(GROUP_NO)
  		  LEFT
  		  JOIN
       		   (SELECT 
       		   		   GROUP_NO,
       		           COUNT(*) AS MEMBER_COUNT
          		  FROM 
          	 	       GROUP_MEMBER
         		 GROUP
              		BY 
              		   GROUP_NO) USING(GROUP_NO)
         <choose>
         	<when test="categoryNo != 100">
          		WHERE GROUP_TYPE NOT LIKE('C')
          		<if test="categoryNo != 0">
     				AND CATEGORY_NO = #{categoryNo}
          		</if>
         	</when>
         	<otherwise>
         		WHERE GROUP_TYPE = 'C'
         		  AND MY_GROUP = 'Y'
         	</otherwise>
         </choose>
         ORDER 
            BY 
               GROUP_NO DESC
	</select>
	
	<select id="myGroupList" parameterType="string" resultMap="groupResultSet">
		SELECT 
			   GROUP_NO, 
			   GROUP_IMG, 
			   GROUP_NAME, 
			   USER_RANK
  		  FROM 
  		       GROUP_ROOM
  		  JOIN 
  		       GROUP_MEMBER USING(GROUP_NO)
 		 WHERE 
 		       USER_ID = #{userId}
 		 GROUP 
 		    BY 
 		       GROUP_NO, 
 		       GROUP_IMG, 
 		       GROUP_NAME, 
 		       USER_RANK
 		 ORDER 
    	    BY 
    	       GROUP_NO DESC
	</select>
	
	<insert id="insertGroup" parameterType="groupRoom">
		INSERT 
			INTO GROUP_ROOM
				(
				GROUP_NO,
				REGION_NO,
				CATEGORY_NO,
				GROUP_NAME,
				GROUP_IMG,
				GROUP_DETAIL,
				APPLY_QUESTION,
				INVITE_CODE,
				GROUP_TYPE,
				GROUP_DATE
				)
			VALUES
				(
				SEQ_GNO.NEXTVAL,
				#{regionNo},
				#{categoryNo},
				#{groupName},
				#{groupImg},
				#{groupDetail},
				#{applyQuestion},
				#{inviteCode},
				#{groupType},
				SYSDATE
				)
	
	</insert>
	
	<insert id="insertRoomAdmin" parameterType="groupMember">
		INSERT 
			INTO GROUP_MEMBER
				(
				GROUP_NO,
				USER_ID,
				USER_RANK
				)
			VALUES
				(
				SEQ_GNO.CURRVAL,
				#{userId},
				#{userRank}
				)
	</insert>
	
	<insert id="insertCalendar">
		INSERT
		  INTO
		       GROUP_CALENDAR
		VALUES
			   (
			   SEQ_GCDNO.NEXTVAL,
			   SEQ_GNO.CURRVAL
			   )		 
	</insert>

	<select id="getGroupNo" resultType="int">
		SELECT 
		       LAST_NUMBER - 1
	      FROM 
	           USER_SEQUENCES
	     WHERE 
	           SEQUENCE_NAME = 'SEQ_GNO'
	</select>
	
	<select id="selectGroup" parameterType="_int" resultMap="groupResultSet">
		SELECT 
		       R.GROUP_NO, 
		       REGION_NO, 
		       CATEGORY_NO, 
		       GROUP_NAME, 
		       GROUP_DETAIL, 
		       GROUP_IMG,
		       GROUP_TYPE,
		       DECODE(GROUP_TYPE, 'A', '공개', 'B', '그룹명 공개', 'C', '비공개')GROUP_TYPE_STR,
		       INVITE_CODE, 
		       GROUP_DATE, 
		       COUNT(M.GROUP_NO) MEMBER_COUNT
  		  FROM 
  		       GROUP_ROOM R
  	      LEFT 
  	      JOIN 
  	           GROUP_MEMBER M ON(R.GROUP_NO = M.GROUP_NO)
 		 WHERE 
 		       R.GROUP_NO = #{groupNo}
 		 GROUP 
 		    BY 
 		       R.GROUP_NO, 
 		       REGION_NO, 
 		       CATEGORY_NO, 
 		       GROUP_NAME, 
 		       GROUP_DETAIL, 
 		       GROUP_IMG,
 		       GROUP_TYPE,
 		       INVITE_CODE,
 		       GROUP_DATE
	</select>

	<select id="selectMemberList" parameterType="_int" resultMap="memberResultSet">
		SELECT 
			   USER_ID, 
			   NICKNAME, 
			   DECODE(USER_RANK, 'A', '관리자', 'M', '일반회원') AS "USER_RANK",
			   PROFILE_IMG
  		  FROM 
  		  	   GROUP_MEMBER
  	 	  JOIN 
  	 	  	   MEMBER USING(USER_ID)
 		 WHERE 
 		 	   GROUP_NO = #{groupNo}
 	     ORDER 
 	        BY 
 	           USER_RANK ASC
	</select>
	
	<update id="updateGroup" parameterType="groupRoom">
		UPDATE 
       		   GROUP_ROOM
   	 	   SET 
       		   REGION_NO = #{regionNo},
       		   CATEGORY_NO = #{categoryNo},
       		   GROUP_NAME = #{groupName},
       		   GROUP_DETAIL = #{groupDetail},
       		   GROUP_IMG = #{groupImg}
 		 WHERE
       		   GROUP_NO = #{groupNo}
	</update>
	
	<update id="updateType" parameterType="groupRoom">
		UPDATE
		       GROUP_ROOM
		   SET
		       GROUP_TYPE = #{groupType},
			       APPLY_QUESTION = #{applyQuestion}	       
		 WHERE 
		       GROUP_NO = #{groupNo}
	</update>
	
	<delete id="deleteGroup" parameterType="_int">
		DELETE
		       GROUP_ROOM
		 WHERE
		       GROUP_NO = ${groupNo}
	</delete>
	
	<insert id="applyGroup" parameterType="groupJoinApply">
		INSERT 
		       INTO GROUP_JOIN_APPLY
		       (
		       APPLY_NO,
		       GROUP_NO,
		       USER_ID,
	       <if test='status neq null and status neq ""'>
			   STATUS,
		   </if>
		       GREETING
		       )
		VALUES
			   (
			   SEQ_GJANO.NEXTVAL,
			   #{groupNo},
			   #{userId},
		   <if test='status neq null and status neq ""'>
			   #{status},
		   </if>
			   #{greeting}
			   )  
	</insert>
	
	<select id="getApplicationList" parameterType="_int" resultMap="applicationListSet">
		SELECT 
			   APPLY_NO,
			   USER_ID, 
			   NICKNAME, 
			   GREETING
  		  FROM 
  		  	   GROUP_JOIN_APPLY
  		  JOIN 
  		  	   MEMBER USING(USER_ID)
 	     WHERE 
 	           GROUP_NO = #{groupNo}
	</select>
	
	<insert id="insertRoomMember" parameterType="groupMember">
		INSERT 
		  INTO 
		       GROUP_MEMBER
		       (
		       GROUP_NO,
		       USER_ID
		       )
		VALUES
		       (
		       #{groupNo},
		       #{userId}
		       )
	</insert>
	
	
	<delete id="exitGroup" parameterType="groupMember">
		DELETE
		 FROM
		 	  GROUP_MEMBER
		 WHERE
		 	  GROUP_NO = #{groupNo}
		 AND
		 	  USER_ID = #{userId}
	
	</delete>
	
	<select id="countApplication" parameterType="_int" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM
		       GROUP_JOIN_APPLY
		 WHERE
		       GROUP_NO = #{groupNo}     
		     
	</select>
	
	<delete id="delteApplyInfo" parameterType="groupJoinApply">
		DELETE
		       GROUP_JOIN_APPLY
		 WHERE
		       GROUP_NO = #{groupNo}
		   AND
		       USER_ID = #{userId}
	</delete>
	
	
	<select id="selectGroupCalendar" parameterType="_int" resultMap="groupCalendarResultSet">
		SELECT 
			   CALENDAR_NO,
			   GROUP_NO
		  FROM 
		       GROUP_CALENDAR
		  WHERE 
		       GROUP_NO = #{groupNo}
	</select>
	
	
	<insert id="insertCalendarEvent" parameterType="CalendarPlan">
		INSERT 
			INTO CALENDAR_PLAN
				(
				PLAN_NO,
				CALENDAR_NO,
				USERID,
				TITLE,
				MEMO,
				START_DATE,
				START_TIME, 
				END_DATE,
				END_TIME, 
				COLOR,
				TEXT_COLOR,
				ALLDAY
				)
			VALUES
				(

				SEQ_PNO.NEXTVAL,
				#{calendarNo},
				#{userId},
				#{title},
				#{memo},
				#{startDate},
				#{startTime},
				#{endDate},
				#{endTime},
				#{color},
				#{textColor},
				#{allDay}
				)
	</insert>
	
	
	
	<select id="selectCalendarEventList" resultMap="groupCalendarEventResultSet">
		SELECT 
				CALENDAR_NO,
		       	USERID,
				TITLE,
				MEMO,
				START_DATE,
				START_TIME, 
				END_DATE,
				END_TIME, 
				COLOR,
				TEXT_COLOR,
				ALLDAY
		  FROM 
		       CALENDAR_PLAN
		  WHERE
		  	   CALENDAR_NO = #{calendarNo}
	</select>
	
	
	
	<select id="selectBoardListCount" resultType="_int">
		SELECT 
		       COUNT(*) 
		  FROM 
		       GROUP_BOARD 
		 WHERE
		       STATUS = 'Y'
	</select>
	
	<select id="selectBoardList" resultMap="groupBoardResultSet">
		SELECT
				BOARD_NO,
			  	GROUP_NO,
			  	BOARD_WRITER,
			  	BOARD_TITLE,
			  	BOARD_CONTENT,
			  	CREATE_DATE,
			  	COUNT,
			  	BOARD_TYPE,
			  	PROFILE_IMG,
			  	NVL(COUNT_REPLY, 0) AS COUNT_REPLY,
                LIKE_CHECK,
                NVL(COUNT_LIKE, 0) AS COUNT_LIKE
			FROM 
				GROUP_BOARD G
			JOIN 
		       MEMBER ON (BOARD_WRITER = USER_ID)
		    LEFT JOIN 
               (SELECT 
                       COUNT(*) AS COUNT_REPLY,
                       BOARD_NO 
                  FROM 
                       GROUP_REPLY
                  WHERE
                  	   STATUS='Y'
                 GROUP
                    BY BOARD_NO) USING (BOARD_NO) 
			LEFT JOIN
               (SELECT 
                       BOARD_NO,
                       'Y' AS LIKE_CHECK,
                       COUNT(*) COUNT_LIKE
                  FROM 
                       GROUP_LIKES
                  GROUP 
                    BY BOARD_NO, 'Y'
                       ) USING (BOARD_NO)
            WHERE 
            	 G.STATUS='Y'
          	AND
          		 GROUP_NO = #{groupNo}
              
			ORDER
				BY BOARD_NO DESC
	</select>
	
	
	
	<select id="selectAttachmentList" parameterType="hashmap" resultMap="attachmentResultSet">
		SELECT 
		       FILE_NO,
		       BOARD_NO,
		       ORIGIN_NAME,
		       CHANGE_NAME
		  FROM 
		       GROUP_ATTACHMENT
		 WHERE
		       BOARD_NO BETWEEN #{min} AND #{max}
		 ORDER
		    BY BOARD_NO DESC, FILE_NO ASC
    </select>
    
    
    <select id="selectGalleryAttachmentList" resultMap="attachmentResultSet">
		SELECT 
				A.CHANGE_NAME, 
				B.GROUP_NO
  			 FROM 
  			 	GROUP_ATTACHMENT A 
    LEFT JOIN GROUP_BOARD B ON A.BOARD_NO = B.BOARD_NO 
    			WHERE 
    			GROUP_NO = #{groupNo}
    </select>
    
    
    <select id="calendarEventListEntire" resultMap="groupCalendarEventResultSet">
    
    SELECT 
    		A.TITLE, 
    		A.START_DATE, 
    		A.CALENDAR_NO
   	   FROM CALENDAR_PLAN A 
   LEFT JOIN GROUP_CALENDAR B ON A.CALENDAR_NO = B.GROUP_NO 
   	 WHERE GROUP_NO = #{groupNo}
    		 
    			
    
    
    </select>
    
    
    
	<insert id="insertGroupBoard">
		INSERT 
		  INTO
			  GROUP_BOARD
			  (
			  	BOARD_NO,
			  	GROUP_NO,
			  	BOARD_WRITER,
			  	BOARD_TITLE,
			  	BOARD_CONTENT,
			  	BOARD_TYPE
			  )
		VALUES
			  (
			  SEQ_GBNO.NEXTVAL,
			  #{groupNo},
			  #{boardWriter},
			  #{boardTitle},
			  #{boardContent},
			  #{boardType}
			  )
	
	</insert>
	
	<insert id="insertAttachment" parameterType="attachment">
		INSERT 
		  INTO 
		       GROUP_ATTACHMENT
		       (
		       FILE_NO,
		       BOARD_NO,
		       ORIGIN_NAME,
		       CHANGE_NAME
		       )
		VALUES 
		       (
		       SEQ_GANO.NEXTVAL,
		       SEQ_GBNO.CURRVAL,
		       #{originName},
		       #{changeName}
		       )
	</insert>
	
	
	<update id="increaseCount" parameterType="_int">
		UPDATE 
		       GROUP_BOARD
		   SET 
		       COUNT = COUNT + 1
		 WHERE 
		       BOARD_NO = #{boardNo}
		   AND 
		       STATUS = 'Y'
	</update>
	
	
	
	<select id="selectBoardType" parameterType="_int" resultType="String">
		SELECT 
		       BOARD_TYPE 
		  FROM
		       GROUP_BOARD 
		 WHERE 
		       BOARD_NO = #{boardNo}
		   AND
		       STATUS = 'Y'
	</select>
	
	
	<update id="deleteBoard" parameterType="_int">
		UPDATE 
		       GROUP_BOARD
		   SET 
		       STATUS = 'N'
		 WHERE 
		       BOARD_NO = #{boardNo}
	</update>
	
	<delete id="deleteAllAttachment" parameterType="_int">
		DELETE
		  FROM
		       GROUP_ATTACHMENT
		 WHERE
		       BOARD_NO = #{boardNo}
	</delete>
	
	
	<insert id="insertLike" parameterType="likes">
		INSERT 
		  INTO
		       GROUP_LIKES
		       (
		       USER_ID,
		       BOARD_NO
		       )
		VALUES
		       (
		       #{userId},
		       #{boardNo}
		       )
	</insert>
	
	
	<delete id="deleteLike" parameterType="likes">
		DELETE 
		  FROM
		       GROUP_LIKES
		 WHERE
		       USER_ID = #{userId}
		   AND
		       BOARD_NO = #{boardNo}
	</delete>
	
	
	<select id="checkLike" parameterType="likes" resultType="_int">
		SELECT 
		       COUNT(*)
		  FROM 
		       GROUP_LIKES 
		   AND
		       BOARD_NO = #{boardNo}	       
	</select>
	
	
	<select id="countLike" parameterType="_int" resultType="_int">
		SELECT 
		       COUNT(*)
		  FROM 
		       GROUP_LIKES 
		 WHERE 
		       BOARD_NO = #{boardNo}	       
	</select>
	
	<select id="selectReplyList" parameterType="_int" resultMap="replyResultSet">
		SELECT
		       REPLY_NO,
		       REPLY_WRITER,
		       REPLY_CONTENT,
		       R.RGROUP,
		       RDEPTH,
		       TO_CHAR(REPLY_DATE, 'YYYY-MM-DD HH24:MI') AS REPLY_DATE,
		       NICKNAME,
		       PROFILE_IMG,
		       IS_LAST_RGROUP_REPLY
		  FROM
		       GROUP_REPLY R
		  JOIN
		       MEMBER ON (REPLY_WRITER = USER_ID)
	 LEFT JOIN
		       (SELECT 
		               MAX(REPLY_NO) AS LAST_REPLY_NO,
		               'Y' AS IS_LAST_RGROUP_REPLY
		          FROM 
		               GROUP_REPLY
		         GROUP 
		            BY RGROUP, STATUS
		        HAVING 
		               STATUS='Y') ON (LAST_REPLY_NO = REPLY_NO)
		 WHERE
		       BOARD_NO = #{boardNo}
		   AND
		       R.STATUS = 'Y'
		 ORDER 
            BY RGROUP, RDEPTH, REPLY_NO
	</select>
	
	<insert id="insertReply" parameterType="reply">
		INSERT
		  INTO 
		       GROUP_REPLY
		       (
		       REPLY_NO,
		       BOARD_NO,
		       REPLY_WRITER,
		       REPLY_CONTENT,
		       RGROUP
		       )
		VALUES
		       (
		       SEQ_GRNO.NEXTVAL,
		       #{boardNo},
		       #{replyWriter},
		       #{replyContent},
		       SEQ_GRNO.CURRVAL
		       )
	</insert>
	
	<insert id="insertReReply" parameterType="reply">
		INSERT
		  INTO 
		       GROUP_REPLY
		       (
		       REPLY_NO,
		       BOARD_NO,
		       REPLY_WRITER,
		       REPLY_CONTENT,
		       RGROUP,
		       RDEPTH
		       )
		VALUES
		       (
		       SEQ_GRNO.NEXTVAL,
		       #{boardNo},
		       #{replyWriter},
		       #{replyContent},
		       #{rgroup},
		       1
		       )
	</insert>
	
	<select id="countRereply" parameterType="_int" resultType="_int">
		SELECT 
		       COUNT(*)
		  FROM 
		       GROUP_REPLY
		 WHERE 
		       RGROUP = #{replyNo} 
		   AND 
		       RDEPTH = 1
		   AND 
		       STATUS = 'Y'
	</select>
	
	<update id="deleteReply" parameterType="_int">
		 UPDATE
		       GROUP_REPLY 
		   SET 
		       STATUS = 'N' 
		 WHERE 
		       REPLY_NO = #{replyNo}
	</update>
	
	<update id="deleteReplyContent" parameterType="_int">
		UPDATE 
		       GROUP_REPLY 
		   SET 
		       REPLY_CONTENT = NULL 
		 WHERE 
		       REPLY_NO = #{replyNo}
	</update>
	
	
	<select id="countReplyNrereply" parameterType="_int" resultType="_int">
		SELECT 
		       COUNT(*)
		  FROM 
		       GROUP_REPLY
		 WHERE 
		       RGROUP = #{rgroup} 
		   AND 
		       STATUS = 'Y'
	</select>
	
	<select id="checkDeletedReply" parameterType="_int" resultType="_int">
		SELECT
               COUNT(*)
          FROM 
               GROUP_REPLY
         WHERE
               RGROUP = #{rgroup} 
           AND
               RDEPTH = 0
           AND 
               REPLY_CONTENT IS NULL
           AND 
               STATUS = 'Y'
	</select>
	
	<update id="deleteTwoReply" parameterType="_int">
		UPDATE 
		       GROUP_REPLY 
		   SET 
		       STATUS = 'N' 
		 WHERE 
		       RGROUP = #{rgroup}
	</update>
	
	<select id="countReply" parameterType="_int" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM
		       GROUP_REPLY
		 WHERE 
		       BOARD_NO = #{boardNo}
		   AND
		       STATUS = 'Y'
	</select>
	
	<select id="searchUser" parameterType="hashmap" resultMap="searchMemberResultSet">
		SELECT 
			   USER_ID, 
			   EMAIL, 
			   PROFILE_IMG
  		  FROM 
  		       MEMBER
 		 WHERE 
 		       USER_ID LIKE '%'|| #{keyword} ||'%'
   		   AND 
   		       USER_ID NOT IN(SELECT 
   		         				     USER_ID
                        	    FROM 
                        	         GROUP_MEMBER
                       		   WHERE 
                       		         GROUP_NO = ${groupNo})
         ORDER BY USER_ID ASC           
	</select>
	
	<select id="matchGroup" resultMap="memberResultSet">
		SELECT 
			   GROUP_NO
		  FROM 
		  	   GROUP_ROOM
		 WHERE 
		 	   INVITE_CODE = #{invitationCode}
	</select>
	
	<select id="matchJoinApply" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM
		       GROUP_JOIN_APPLY
		 WHERE
		       USER_ID = #{userId}
		   AND
		       GROUP_NO = #{groupNo}
		   AND
		       STATUS = 'J'
	</select>
	
</mapper>
